{% load static %}
<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>DirectLink|{% block title %}Welcome{% endblock title %}</title>
    <link rel="icon" href="{% static 'img/logo.png' %}" type="image/x-icon">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>

<!-- partial:index.partial.html -->
{% load static %}
<!DOCTYPE html>
<html>
  <head>
	<link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
  </head>
  <body>
	<div class="main">
		<img src ="{% static 'img/logo.png' %}"  id = "logo">
		<div>
			{% block content %}
			<br>
			<a href="{% url 'signup' %}">Sign up</a>
			<br>
			<a href="{% url 'login' %}">Login</a>
			{% endblock content %}
		</div>
	</div>
  </body>
</html>
<!-- partial -->
  
</body>
</html>
