{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>DIRECT LINK Login / Sign in</title>
	<link rel="stylesheet" href=" {% static 'css/wait.css' %}">

</head>

<body>
	<!-- partial:index.partial.html -->
	<!DOCTYPE html>
	<html id="page">

	<head>
		<title>Attendre</title>
		<link rel="stylesheet" type="text/css" href=" {% static 'css/wait.css' %}">
		<link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
	</head>

	<body>

		<div class="main">
			<img src=" {% static 'img/loadingGIF.gif' %}"id="logo">
			<label for="chk" aria-hidden="true" id="wait">Loading Please wait</label>
		</div>
	</body>

	</html>
	<!-- partial -->
	<script>
		// Définir la durée en secondes
		var countDownDuration = 3;

		// Récupérer la div compte à rebours
		var countdownElement = document.getElementById("page");

		// Mettre un décompte avant la redirection
		var timer = setInterval(function () {
			countDownDuration--;
			if (countDownDuration <= 0) {
				clearInterval(timer);
				window.location.href = 'http://127.0.0.1:8000/';
			}
		}, 1000);
	</script>
</body>

</html>